<mat-card>
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-subtitle>Enter your email and we will send you a link to reset your password.</mat-card-subtitle>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()" >
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="emailFormControl" required>
            <mat-hint>Enter your registered email.</mat-hint>
        </mat-form-field>
        
        <br><br>

        <button class="action-button" type="submit" [disabled]="!resetPasswordForm.valid"> Reset Passowrd</button>
    </form>
</mat-card>