// Mobile
@media only screen and (min-width: 320px) {
    .mat-card {
        margin: 5vw 10vw;
        .action-button {
            padding: 0 8px;
        }
    }
    .mat-form-field {
        width: 100%;
    }
}
// Tablet 
@media only screen and (min-width: 768px) {
    .mat-card {
        margin: 5vw 20vw;
    }
}
// Desktop 
@media only screen and (min-width: 1024px) {
    .mat-card {
        margin: 5vw 30vw;
    }
}
// Desktop
@media only screen and (min-width: 1280px) {}


