@import "../modules/colors";

// Using Placeholder, Extends, and Inheritance

%button-shared{
  @extend %font-shared;
  background: transparent;
  border-radius: 50px;
  padding: 8px 32px;
  min-width: 80px;
  text-decoration: none;
  display: block;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

button {
  @extend %button-shared;
}
