// Reset elements here
ul,
ol {
  margin:  0;
  padding: 0;
  list-style: none;
}

li {display: inline-block;}

input, textarea, select, button {
  outline: none;
}

a { 
  // color: $color-light-gray;
  text-decoration: none;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

// 
.mat-toolbar {
  font: 400 13px/24px Roboto,"Helvetica Neue",sans-serif;
}