// Reset elements here
a { 
  text-decoration: none;
}

.mat-toolbar {
  font: 400 13px/24px Roboto,"Helvetica Neue",sans-serif;
}

button, input, a, img,
button:active, input:active, a:active, img:active,
button:focus, input:focus, a:focus, img:focus, { 
  outline: none;
}