<!-- Login modal-->
<div class="form__container">
  <!-- Login modal form -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    <div class="form__field">
      <mat-dialog-content>
        <!-- Close modal button -->
        <button class="form__field__close" (click)="onCloseCancel()" [mat-dialog-close]="true">
          <i class="material-icons">
            close
          </i>
        </button>
        <!-- Sign up redirect message/button -->
        <p class="form__field__register">Don't have an account?
          <a class="primary" routerLink="register" (click)="onCloseCancel()"> <b>Sign up.</b></a>
        </p>
        <!-- Email input -->
        <mat-form-field class="form__field__input">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <!-- Password input -->
        <mat-form-field class="form__field__input">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </mat-dialog-content>
      <!-- Action buttons -->
      <mat-dialog-actions class="form__field__actions">
        <!-- Forgotten password -->
        <a class="primary" routerLink="resetPassword" (click)="onCloseCancel()">Forgot your passwrod?</a>
        <!-- Submit button  -->
        <button type="submit" [disabled]="!loginForm.valid" >Sign In</button>
      </mat-dialog-actions>
      <!-- End of action button -->
    </div>
  </form>
  <!-- End of login form -->
</div>
<!-- End of login modal-->