// Using variables to call colors

$color-destructive: #ff3131;
$color-bright: #ff9c00;
$color-go: #1dca7f;
$color-info: #4f87ec;
$color-white: #ffffff;
$color-light-gray: #f5f5f5;
$color-gray: #888888;
$color-dark: #181818;
