/* Primary file */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Modules and Variables
@import "stylesheets/modules/colors";
@import "stylesheets/modules/all";
@import "stylesheets/modules/utility";

// Partials
@import "stylesheets/partials/reset";
@import "stylesheets/partials/typography";
@import "stylesheets/partials/figures";
@import "stylesheets/partials/grids";
@import "stylesheets/partials/forms";
@import "stylesheets/partials/base";
@import "stylesheets/partials/buttons";

// Third-party
@import "stylesheets/vendor/colorpicker";
@import "stylesheets/vendor/jquery.ui.core";

// Components SCSS
@import "./app/navigation/navigation.component.scss";

// Modals

// Styles
html, body {
  height: 100%;
  display: block;
}

body {
  @extend %font-shared;
  padding: 0;
  margin: 0 auto;
  background-color: $color-light-gray;
}

* {
  box-sizing: border-box;
}
